#cartAdded .modal-title {
    padding: 39px 0 0 0;
    text-align: center;
}
#cartAdded .modal-title a {
    text-decoration: underline;
}

.ns-item-more-loader {
    display: none;
}
.ns-item-more-loader .btn.btn-more,
.ns-item-more-loader .btn.btn-more:hover {
    background: #fff;
    border: 1px solid #dcdcdc;
    color: #969696;
    cursor: default;
    opacity: 1;
}

.ns-item-more-loader .btn.btn-more span {
    background: url(../img/ajax-loader.gif) no-repeat left 3px;
    padding: 2px 0 2px 19px;
    position: relative;
    top: -2px;
}

.titleSocial {
    width: 230px;
}
.titleSocial .widget {
    float:left;
}

.card-tab .tab-content ul {
    font: 13px/17px 'Open Sans';
    color: #000000;
    padding: 7px 20px 7px 40px;
}
.card-tab .tab-content ul li {
}