{% if items|length %}
    <ul class="productsList">
        {% for item in items %}
            {% include 'NSCatalogBundle:Blocks:_item.html.twig' %}
        {% endfor %}
    </ul>
{% else %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="textPage" style="padding-bottom:40px">
                    <p>Нет товаров для отображения</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
