<div class="boxBottom">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                {% if items|length %}
                    <div class="blockFormContact">
                        <h2>Похожие продукты</h2>
                        <div class="row clearfix top_1" >
                            {% include 'NSCatalogBundle:Blocks:_items.html.twig' %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
